/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* IMPORTS */
@import 'NumGenerator.css';
@import 'NumSelector.css';

/* -----------------
CSS RESET  
----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* ----------------- 
GLOBAL STYLES 
----------------- */
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* ----------------- 
MAIN STYLING 
----------------- */

.app-container {
  text-align: center;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.6rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-12 {
  margin-top: 12rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.i-400 {
  font-style: italic;
  font-weight: 400;
}
