.num-graph-wrapper {
  width: 100%;
  margin-bottom: 12rem;
}

.num-graph {
  height: 50rem;
}

.bar {
  fill: rgb(255, 139, 97);
}

.bar-group text {
  font-size: 1.5rem;
}

.bar-group:last-child .bar {
  fill: rgb(95, 95, 255);
}

@media (max-width: 600px) {
  .num-graph {
    height: 25rem;
  }
}

@media (max-width: 400px) {
  .num-graph {
    height: 17rem;
  }
}
